.ourSponsorsWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 2em;
}

.ourSponsorLogos {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  text-align: center;
}

.burgerKing {
  width: 10em;
  height: 10em;
}

.arby {
  width: auto;
  height: 11em;
}
