.slick-slider {
  margin: 2em auto 2em;
}

.slick-prev,
.slick-next {
  display: none;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.rcorners {
  color: #3e4042;
  line-height: 1.7em;
  margin-bottom: 1em;
}

.sliderrender {
  justify-content: center;
  display: flex;
  width: 100em;
  max-inline-size: 80em;
}

.teamImage {
  width: 15em;
  height: 10em;
}

.teamBorder {
  justify-content: center;
  position: relative;
}

.teamBorder img {
  justify-content: center;
  width: 10em;
  height: 10em;
  margin-bottom: -7em;
  border-radius: 5em;
  z-index: 2;
  position: relative;
  display: inline-block !important;
}

.teamSection {
  background-color: #f5f6f6;
  justify-content: center;
  position: relative;
  display: flex;
  margin: 4em;
  z-index: 1;
  padding: 1em;
}

.teamText {
  padding-top: 5em;
  height: 20em;
  width: 100em;
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  /*ipad*/
  .sliderrender {
    width: auto;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /*ipad pro*/
  .sliderrender {
    width: auto;
  }
}

@media screen and (max-width: 576px) {
  /*ipad phone*/
  .sliderrender {
    width: auto;
  }
}
